@font-face{
    font-family: myfont;
    src: url(fonts/Roboto/RobotoBold.ttf);
    font-weight: 60;
}

.content{
    padding-top: 5%;
    padding-left:10%;
    padding-right:10%; 
    padding-bottom: 5%;
}


.heading{
    margin-bottom: 20px;
    border:1px solid rgba(58, 52, 52,0.1);
    padding: 2%;
   
}
.table-title{
    font-family: myfont;
    font-size: 35px;
    text-align: center;
    color: rgb(188,178,223);
}

.table-credentials{
   display: flex;
   flex-direction: row;
   padding: 2%;
   justify-content:space-around;
   
}
.table-credentials div label{
    font-family: myfont;
    font-size: 22px;
}

.table-credentials div select{
     border: none;
     border-bottom:1px solid rgba(58, 52, 52,0.1);
     box-shadow: 3px 3px 5px 5px rgba(58, 52, 52,0.1);
     outline: none;
     padding:5px;
}
.table-credentials div select option{
    font-size: 18px;
}

.table-content{
    width: 100%;
    overflow-x:hidden;
    margin-bottom: 5px;
}
table{
    width: 100%;  
    border-collapse: collapse;  
}
tr{
    text-align: center;
}

th{
    border:1px solid rgba(188,178,223);
    font-size: myfont;
    font-size: 1.5em;
    font-weight: bold;
}
td{
    border:1px solid rgba(188,178,223);
    font-size: myfont;
    font-size: 1.5em;
}
.table-h{
   background-color: rgb(224,215,255);
}

@media  screen and (min-width: 1px) and (max-Width: 680px){
    .name{
        max-width:400px;
        text-align: left;
    }

}
@media  screen and (min-width: 680px) and (max-Width: 680px){
   
}

@media  screen and (min-width: 681px) and (max-Width: 1000px) {
  
  }

  @media  screen and (min-width: 1px) and (max-Width: 900px){
    .table-credentials{
        flex-direction: column;
     }
     .table-credentials div select{
       margin-bottom: 10px;
   }
}

body{
    padding-top: 15%;
}
.print{
    font-family: myfont;
    border: none;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgb(141, 122, 209);
    color: white;
    border-radius: 16px;
    box-shadow: 3px 3px 5px 5px rgba(58, 52, 52,0.1);
    margin-top: 5px;
}
.print:hover{
    background-color: rgb(60, 44, 119);
}
.preview{
    font-family: myfont;
    border: none;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgb(141, 122, 209);
    color: white;
    border-radius: 16px;
    box-shadow: 3px 3px 5px 5px rgba(58, 52, 52,0.1);
    margin-top: 5px;
}
.preview:hover{
    background-color: rgb(60, 44, 119);

}

.print-logo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: rgb(141, 122, 209);
}
.ministry-text{
    font-family: myfont;
    font-size: 1.3em;
    text-align: center;
    
}
.ministry-text div{
    margin-top: 5px;
}
.sevic-logo img{
   width: 80%;
}
.minefob{
    font-family: myfont;
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 5px;
}
.minefob span{
    text-decoration: underline;
    color:rgb(68, 68, 247);
}
.stud-info1{
    
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    margin-bottom: 10px;
}
#stud-info{
    margin-bottom: 10px;
}

.sem-title{
    font-family: myfont;
    font-size: 1.5em;
    text-align: center;
}
.gpa-avg-sec{
    display: flex;
    justify-content: space-between;
    font-family: myfont;
    font-size: 1.3em;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 5px;
}
.dir-reg-sec{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}
.reg{
    font-family: myfont;
    font-size: 1.3em;
    text-align: center;
    width: 200px;
    height: 200px;
}
.warning{
    font-family: myfont;
    font-size: 1.3em;
    text-align: center;
}

@media print {
    header{
        display: none;
    }
    .heading{
        display: none;
    }
    .print{
        display: none;
    }
    aside{
        display: none;
    }
    footer{
        display: none;
    }
    
}